<div class="body flex-grow-1">
    <div class="container-lg px-4">
        <div class="bg-primary bg-opacity-10 border border-2 border-primary rounded mb-4">
            <div class="row d-flex align-items-center p-3 px-xl-4 flex-xl-nowrap">
                <div class="col-xl-auto col-12 d-none d-xl-block p-0"><img class="img-fluid" src="/assets/img/components.webp" width="160px" height="160px" alt="CoreUI PRO hexagon"></div>
                <div class="col-md col-12 px-lg-4">
                    Our Admin Panel isn’t just a mix of third-party components. It’s
                    <strong>the only open-source Bootstrap dashboard built on a professional, enterprise-grade UI Components Library</strong>
                    . This component is part of this library, and we present only the basic usage of it here. To explore extended examples, detailed API documentation, and customization options, refer to our docs.
                </div>
                <div class="col-md-auto col-12 mt-3 mt-lg-0 d-flex flex-column">
                    <a class="btn btn-primary text-nowrap text-white" href="https://coreui.io/bootstrap/docs/components/breadcrumb/" target="_blank" rel="noopener noreferrer">Explore Documentation</a>
                    <div class="text-center my-1">or</div>
                    <a class="btn btn-danger text-nowrap text-white" href="https://coreui.io/pricing/?framework=bootstrap&amp;src=free-bootstrap-admin-template-docs-banner" target="_blank" rel="noopener noreferrer">Get CoreUI PRO →</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Breadcrumb</strong></div>
                    <div class="card-body">
                        <p class="text-body-secondary small">
                            The breadcrumb navigation provides links back to each previous page the user navigated through and shows the current location in a website or an application. You don’t have to add separators, because they automatically added in CSS through
                            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/::before"><code>::before</code></a>
                            and
                            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/content"><code>content</code></a>
                            .
                        </p>
                        <div class="example">
                            <ul class="nav nav-underline-border" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-coreui-toggle="tab" href="#preview-1000" role="tab">
                                        <svg class="icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="var(--ci-primary-color, currentcolor)" d="M444.4 235.236 132.275 49.449A24 24 0 0 0 96 70.072v364.142a24.017 24.017 0 0 0 35.907 20.839L444.03 276.7a24 24 0 0 0 .367-41.461ZM128 420.429V84.144l288.244 171.574Z" class="ci-primary" />
                                        </svg>
                                        Preview
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://coreui.io/bootstrap/docs/components/breadcrumb/#example" target="_blank">
                                        <svg class="icon me-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="var(--ci-primary-color, currentcolor)" d="m388.632 393.82 107.191-137.88-107.139-137.762-25.26 19.644 91.864 118.122-91.92 118.236zm-240.053-19.639L56.712 255.999l91.917-118.176-25.258-19.646L16.177 255.993l107.137 137.826zM330.529 16h-32.97L178.441 496h32.971z" class="ci-primary" />
                                        </svg>
                                        Code
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
                                    <nav aria-label="breadcrumb" role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                                        </ol>
                                    </nav>
                                    <nav aria-label="breadcrumb" role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                                        </ol>
                                    </nav>
                                    <nav aria-label="breadcrumb" role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                                        </ol>
                                    </nav>
                                    <nav class="breadcrumb">
                                        <a class="breadcrumb-item" href="#">Home</a>
                                        <a class="breadcrumb-item" href="#">Library</a>
                                        <a class="breadcrumb-item" href="#">Data</a>
                                        <span class="breadcrumb-item active">Bootstrap</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
</div>